@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
body {
  font-family: "Lobster", cursive;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.container.LoadContainer {
  transition: all 400ms ease;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  background-color: black;
  background-image: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: black;
  padding: 18px;
  border-radius: 3px;
}
.div {
  scale: 0;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  transition: scale 300ms ease, filter 200ms ease;
}
.div1 {
  background-color: red;
}
.div2 {
  background-color: blueviolet;
}
.buttons {
  display: flex;
  gap: 12px;
  position: fixed;
  width: 100%;
  place-content: center;
  bottom: 10%;
}
.flex {
  display: flex;
  gap: 12px;
}
[data-spinbtn] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("img/spin.png");
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #291b25;
  animation: ROTATE 1500ms linear infinite;
}
[data-spinbtn]:disabled {
  animation: ROTATE 400ms linear infinite;
}

[data-turbo] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("img/turbo.png");
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid blue;
  scale: 1;
  transition: 200ms ease;
}
[data-inuse] {
  scale: 1.06;
}
@keyframes ROTATE {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}
[data-num] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
[data-num="1"] {
  background-image: url("img/1.png");
}
[data-num="2"] {
  background-image: url("img/2.png");
}
[data-num="3"] {
  background-image: url("img/3.png");
}
[data-num="4"] {
  background-image: url("img/4.png");
}
[data-num="5"] {
  background-image: url("img/5.png");
}
[data-num="6"] {
  background-image: url("img/6.png");
}

@media screen and (max-width: 800px) {
  * {
    user-select: none;
    user-zoom: none;
    cursor: default;
  }
  .grid {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(3, 60px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }
  .div {
    width: 60px;
    height: 60px;
  }
}
